* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.card__content {
  width: 340px;
  height: 216px;
}

.card__image {
  align-self: stretch;
  height: 288px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin: 24px 16px 12px 16px;
}

.category-container {
  display: flex;
  align-items: center;
  background-color: #f0fdf4;
  padding: 2px 8px;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbf7d0;
}

.category__tag {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #15803d;
}

.card-header__title {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #171717;
  padding: 0;
}

.card-header__title p {
  margin: 0;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  margin: 0 16px 24px 16px;
}

.card__description-text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  color: #525252;
  margin: 0;
  line-height: 24px;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
}

.card-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
  text-decoration: none;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  color: #4338ca;
  line-height: 24px;
}

.card-footer img {
  width: 20px;
  height: 20px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
